.full-conatiner{
    display: flex;
    flex-wrap: nowrap;
}
.login-container{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh; 
}

.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(32,32,32,0.7);
    border-radius: 10px;
    opacity: 1;
}
form{
    padding: 100px 0px;
    text-align: center;
}
.form-container span{
    color:white;
    font-size: 20px;
        font-family: 'Roboto Slab', serif;
}
.form-container .form-group{
    padding: 20px 20px 0px 20px;  
}

.input-field{
     background-color:#303030 ;
     position: relative;
}
.form-group:first-child{
    padding-top:30px
}


input{
    
    font-size: 20px;
    width: 250px;
    border:none;
    background-color: inherit;
    padding: 5px 0px;
    padding-left: 20px ;
    color:white;
    border-radius: 20px;
    font-family: 'Roboto Slab', serif;
}
input:focus, button:focus{
    outline:none
}
::placeholder{
    color:white;
    font-size: 18px;
}
button{
    border: 2px solid #e35e6b;
    background: transparent;
    border-radius: 20px;
    font-size: 20px;
    padding: 8px 44px;
    color: #e35e6b;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}
.form-group p{
    padding-top: 8px;
    text-align: center;
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}

#main-content{
 position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.welcome{
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
    text-transform: capitalize;
    color: #303030;
}






